Repository jminie-o8o/Home-Rent-App, pull requests merged in 2022-09, with the labels that each got.

#135 [Android] 양도하기 글 관심목록 불러오기 오류 해결
  android/app/src/main/java/com/example/home_rent_app/data/api/BookmarkApi.kt
  android/app/src/main/java/com/example/home_rent_app/data/dto/GiveBookmarkResponseDTO.kt
  android/app/src/main/java/com/example/home_rent_app/ui/bookmark/BookmarkGiveHomeFragment.kt
Labels: Android, fix

#136 [Android] FEAT: 양도글 좋아요 api 연결
  android/app/build.gradle
  android/app/src/main/java/com/example/home_rent_app/data/api/FindRoomApi.kt
  android/app/src/main/java/com/example/home_rent_app/data/datasource/findroom/FindRoomDataSource.kt
  android/app/src/main/java/com/example/home_rent_app/data/datasource/findroom/FindRoomDataSourceImpl.kt
  android/app/src/main/java/com/example/home_rent_app/data/dto/GiveBookmarkResponseDTO.kt
  android/app/src/main/java/com/example/home_rent_app/data/dto/RoomSearchResultDTO.kt
  android/app/src/main/java/com/example/home_rent_app/data/model/RoomSearchResult.kt
  android/app/src/main/java/com/example/home_rent_app/data/repository/findroom/FindRoomRepository.kt
  android/app/src/main/java/com/example/home_rent_app/data/repository/findroom/FindRoomRepositoryImpl.kt
  android/app/src/main/java/com/example/home_rent_app/ui/HomeActivity.kt
  android/app/src/main/java/com/example/home_rent_app/ui/custom/LabelEditText.kt
  android/app/src/main/java/com/example/home_rent_app/ui/findroom/FindHomeActivity.kt
  android/app/src/main/java/com/example/home_rent_app/ui/findroom/HomeListAdapter.kt
  android/app/src/main/java/com/example/home_rent_app/ui/findroom/HomeThumbnailAdapter.kt
  android/app/src/main/java/com/example/home_rent_app/ui/home/HomeFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/transfer/step1/HomeDescriptionFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/transfer/step2/PicAdapter.kt
  android/app/src/main/java/com/example/home_rent_app/ui/transfer/step2/PicChoiceFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/transfer/step3/AddressSearchFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/transfer/step4/RentHomeDescriptionFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/viewmodel/FindRoomViewModel.kt
  android/app/src/main/java/com/example/home_rent_app/ui/viewmodel/TransferViewModel.kt
  android/app/src/main/java/com/example/home_rent_app/util/FileController.kt
  android/app/src/main/java/com/example/home_rent_app/util/HouseType.kt
  android/app/src/main/java/com/example/home_rent_app/util/Options.kt
  android/app/src/main/java/com/example/home_rent_app/util/TransferBindingAdapter.kt
  android/app/src/main/res/color/chip_selector.xml
  android/app/src/main/res/color/chip_stroke.xml
  android/app/src/main/res/drawable/add_btn_shape.xml
  android/app/src/main/res/drawable/home_btn_shape.xml
  android/app/src/main/res/drawable/ic_appbar_logo.xml
  android/app/src/main/res/drawable/ic_find_home.xml
  android/app/src/main/res/drawable/ic_find_home_image.png
  android/app/src/main/res/drawable/ic_find_wanted.xml
  android/app/src/main/res/drawable/ic_find_wanted_image.png
  android/app/src/main/res/drawable/ic_logo.xml
  android/app/src/main/res/drawable/ic_plus.xml
  android/app/src/main/res/layout/activity_home.xml
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/layout/fragment_home_description.xml
  android/app/src/main/res/layout/fragment_rent_home_description.xml
  android/app/src/main/res/layout/fragment_want_home_first_step.xml
  android/app/src/main/res/layout/item_home_list.xml
  android/app/src/main/res/layout/item_thumbnail.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
Labels: Android

#137 [Android] 프로필 불러오기, 글 삭제 구현 및 이슈해결
  android/app/src/main/java/com/example/home_rent_app/data/api/ProfileApi.kt
  android/app/src/main/java/com/example/home_rent_app/data/api/RetrofitInstance.kt
  android/app/src/main/java/com/example/home_rent_app/data/dto/DeleteGiveHomeResponseDTO.kt
  android/app/src/main/java/com/example/home_rent_app/data/dto/DeleteWantHomeResponseDTO.kt
  android/app/src/main/java/com/example/home_rent_app/data/dto/GiveHomeProfileDTO.kt
  android/app/src/main/java/com/example/home_rent_app/data/dto/WantHomeProfileDTO.kt
  android/app/src/main/java/com/example/home_rent_app/data/model/User.kt
  android/app/src/main/java/com/example/home_rent_app/data/repository/bookmark/BookmarkRepository.kt
  android/app/src/main/java/com/example/home_rent_app/data/repository/bookmark/BookmarkRepositoryImpl.kt
  android/app/src/main/java/com/example/home_rent_app/data/repository/profile/ProfileRepository.kt
  android/app/src/main/java/com/example/home_rent_app/data/repository/profile/ProfileRepositoryImpl.kt
  android/app/src/main/java/com/example/home_rent_app/di/RepositoryModule.kt
  android/app/src/main/java/com/example/home_rent_app/ui/HomeActivity.kt
  android/app/src/main/java/com/example/home_rent_app/ui/LoginActivity.kt
  android/app/src/main/java/com/example/home_rent_app/ui/SplashScreenActivity.kt
  android/app/src/main/java/com/example/home_rent_app/ui/bookmark/BookmarkViewModel.kt
  android/app/src/main/java/com/example/home_rent_app/ui/login/KakaoWebViewFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/loginprofile/LoginProfileFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/profile/ProfileFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/profile/ProfileGiveHomeAdapter.kt
  android/app/src/main/java/com/example/home_rent_app/ui/profile/ProfileGiveHomeFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/profile/ProfileViewModel.kt
  android/app/src/main/java/com/example/home_rent_app/ui/profile/ProfileViewPagerAdapter.kt
  android/app/src/main/java/com/example/home_rent_app/ui/profile/ProfileWantHomeAdapter.kt
  android/app/src/main/java/com/example/home_rent_app/ui/profile/ProfileWantHomeFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/viewmodel/LoginViewModel.kt
  android/app/src/main/java/com/example/home_rent_app/ui/viewmodel/WantHomeViewModel.kt
  android/app/src/main/java/com/example/home_rent_app/ui/wanthome/WantHomeActivity.kt
  android/app/src/main/java/com/example/home_rent_app/ui/wanthome/detail/WantHomeDetailActivity.kt
  android/app/src/main/java/com/example/home_rent_app/ui/wanthome/step2/WantHomeSecondStepFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/wanthomeresult/WantHomeResultActivity.kt
  android/app/src/main/java/com/example/home_rent_app/util/Constants.kt
  android/app/src/main/java/com/example/home_rent_app/util/HomeListBindingAdapter.kt
  android/app/src/main/java/com/example/home_rent_app/util/LoginCheck.kt
  android/app/src/main/res/drawable/ic_baseline_add_circle_24.xml
  android/app/src/main/res/drawable/ic_baseline_more_vert_26.xml
  android/app/src/main/res/layout/fragment_login_profile.xml
  android/app/src/main/res/layout/fragment_profile.xml
  android/app/src/main/res/layout/fragment_profile_give_home.xml
  android/app/src/main/res/layout/fragment_profile_want_home.xml
  android/app/src/main/res/layout/item_givehome_profile.xml
  android/app/src/main/res/layout/item_wanthome_profile.xml
  android/app/src/main/res/menu/prifile_menu_item.xml
  android/app/src/main/res/values/themes.xml
Labels: Android, feature

#138 [Android] 프로필 수정 UI 구현 및 기존 회원의 경우 자동로그인이 안되던 이슈 해결
  android/app/src/main/java/com/example/home_rent_app/ui/SplashScreenActivity.kt
  android/app/src/main/java/com/example/home_rent_app/ui/loginprofile/LoginProfileFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/profile/ProfileFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/profile/ProfileModifyFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/viewmodel/LoginViewModel.kt
  android/app/src/main/res/layout/fragment_profile_modify.xml
  android/app/src/main/res/navigation/bottom_navigation.xml
Labels: Android, fix

#139 [Android] 로그아웃 구현 (DataStore 모두 삭제) 및 예외 처리 구현
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/example/home_rent_app/data/LogoutInterceptor.kt
  android/app/src/main/java/com/example/home_rent_app/data/api/LogoutApi.kt
  android/app/src/main/java/com/example/home_rent_app/data/api/ProfileApi.kt
  android/app/src/main/java/com/example/home_rent_app/data/api/RetrofitInstance.kt
  android/app/src/main/java/com/example/home_rent_app/data/datastore/DataStore.kt
  android/app/src/main/java/com/example/home_rent_app/data/dto/GetUserInfoDTO.kt
  android/app/src/main/java/com/example/home_rent_app/data/dto/LogoutResponseDTO.kt
  android/app/src/main/java/com/example/home_rent_app/data/model/CEHModel.kt
  android/app/src/main/java/com/example/home_rent_app/data/repository/profile/ProfileRepository.kt
  android/app/src/main/java/com/example/home_rent_app/data/repository/profile/ProfileRepositoryImpl.kt
  android/app/src/main/java/com/example/home_rent_app/data/repository/wanthomeresult/WantHomeResultRepositoryImpl.kt
  android/app/src/main/java/com/example/home_rent_app/ui/HomeActivity.kt
  android/app/src/main/java/com/example/home_rent_app/ui/LoginActivity.kt
  android/app/src/main/java/com/example/home_rent_app/ui/bookmark/BookmarkViewModel.kt
  android/app/src/main/java/com/example/home_rent_app/ui/profile/ProfileFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/profile/ProfileGiveHomeFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/profile/ProfileModifyFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/profile/ProfileViewModel.kt
  android/app/src/main/java/com/example/home_rent_app/ui/profile/ProfileWantHomeFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/viewmodel/FindRoomViewModel.kt
  android/app/src/main/java/com/example/home_rent_app/ui/viewmodel/LoginViewModel.kt
  android/app/src/main/java/com/example/home_rent_app/ui/viewmodel/WantHomeResultViewModel.kt
  android/app/src/main/java/com/example/home_rent_app/ui/viewmodel/WantHomeViewModel.kt
  android/app/src/main/java/com/example/home_rent_app/ui/wanthome/detail/WantHomeDetailActivity.kt
  android/app/src/main/java/com/example/home_rent_app/ui/wanthome/detail/WantHomeDetailFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/wanthome/step1/WantHomeFirstStepFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/wanthome/step2/WantHomeSecondStepFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/wanthomeresult/WantHomeResultActivity.kt
  android/app/src/main/java/com/example/home_rent_app/util/CoroutineException.kt
  android/app/src/main/java/com/example/home_rent_app/util/Extention.kt
  android/app/src/main/res/drawable/ic_baseline_chat_24.xml
  android/app/src/main/res/drawable/ic_baseline_home_24.xml
  android/app/src/main/res/drawable/ic_baseline_person_outline_24.xml
  android/app/src/main/res/drawable/ic_favorite.xml
  android/app/src/main/res/layout/activity_want_home_detail.xml
  android/app/src/main/res/layout/activity_want_home_result.xml
  android/app/src/main/res/layout/fragment_profile.xml
  android/app/src/main/res/layout/fragment_profile_modify.xml
  android/app/src/main/res/layout/fragment_want_home_detail.xml
  android/app/src/main/res/menu/bottom_navigation_menu.xml
  android/app/src/main/res/menu/prifile_menu_item.xml
  android/app/src/main/res/navigation/bottom_navigation.xml
  android/app/src/main/res/navigation/want_home_nav_graph.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, feature, fix

#140 [Android] FEAT: 양도글 상세 데이터 바인딩 연결
  android/app/src/main/java/com/example/home_rent_app/data/api/TransferApi.kt
  android/app/src/main/java/com/example/home_rent_app/data/datasource/login/LoginDataSource.kt
  android/app/src/main/java/com/example/home_rent_app/data/datasource/login/LoginDataSourceImpl.kt
  android/app/src/main/java/com/example/home_rent_app/data/datasource/transfer/TransferDataSource.kt
  android/app/src/main/java/com/example/home_rent_app/data/datasource/transfer/TransferDataSourceImpl.kt
  android/app/src/main/java/com/example/home_rent_app/data/dto/AddRentHomeRequest.kt
  android/app/src/main/java/com/example/home_rent_app/data/dto/DetailHomeDTO.kt
  android/app/src/main/java/com/example/home_rent_app/data/model/DetailHomeData.kt
  android/app/src/main/java/com/example/home_rent_app/data/repository/login/LoginRepository.kt
  android/app/src/main/java/com/example/home_rent_app/data/repository/login/LoginRepositoryImpl.kt
  android/app/src/main/java/com/example/home_rent_app/data/repository/transfer/TransferRepository.kt
  android/app/src/main/java/com/example/home_rent_app/data/repository/transfer/TransferRepositoryImpl.kt
  android/app/src/main/java/com/example/home_rent_app/ui/HomeActivity.kt
  android/app/src/main/java/com/example/home_rent_app/ui/findroom/HomeListAdapter.kt
  android/app/src/main/java/com/example/home_rent_app/ui/findroom/HomeThumbnailAdapter.kt
  android/app/src/main/java/com/example/home_rent_app/ui/transfer/TransferActivity.kt
  android/app/src/main/java/com/example/home_rent_app/ui/transfer/step1/HomeDescriptionFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/transfer/step2/PicChoiceFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/transfer/step3/AddressSearchFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/transfer/step4/RentHomeDescriptionFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/viewmodel/DetailHomeViewModel.kt
  android/app/src/main/java/com/example/home_rent_app/ui/viewmodel/LoginViewModel.kt
  android/app/src/main/java/com/example/home_rent_app/ui/viewmodel/TransferViewModel.kt
  android/app/src/main/java/com/example/home_rent_app/util/DateBindingAdapter.kt
  android/app/src/main/java/com/example/home_rent_app/util/FileController.kt
  android/app/src/main/java/com/example/home_rent_app/util/HouseType.kt
  android/app/src/main/java/com/example/home_rent_app/util/MoneyFormat.kt
  android/app/src/main/java/com/example/home_rent_app/util/RentType.kt
  android/app/src/main/java/com/example/home_rent_app/util/TextBindingAdapter.kt
  android/app/src/main/java/com/example/home_rent_app/util/TransferBindingAdapter.kt
  android/app/src/main/res/layout/activity_detail_rent.xml
  android/app/src/main/res/layout/fragment_address_search.xml
  android/app/src/main/res/layout/fragment_pic_choice.xml
  android/app/src/main/res/layout/fragment_rent_home_description.xml
  android/app/src/main/res/values/strings.xml
Labels: Android

#141 [backend] 양도글 상세보기 시 bookmarked 필드 추가
  BE/house/src/main/java/com/nextsquad/house/dto/RentArticleResponse.java
  BE/house/src/main/java/com/nextsquad/house/service/RentArticleService.java
Labels: Backend, feature

#142 [backend] 양수글 상세보기에 bookmarked 필드 추가
  BE/house/src/main/java/com/nextsquad/house/controller/WantedArticleController.java
  BE/house/src/main/java/com/nextsquad/house/domain/house/WantedArticle.java
  BE/house/src/main/java/com/nextsquad/house/dto/wantedArticle/WantedArticleResponse.java
  BE/house/src/main/java/com/nextsquad/house/service/WantedArticleService.java
Labels: Backend, feature

#143 [Android] FIX : 양도 게시글 작성 완성
  android/app/src/main/java/com/example/home_rent_app/data/dto/AddRentHomeRequest.kt
  android/app/src/main/java/com/example/home_rent_app/data/dto/GiveHomeProfileDTO.kt
  android/app/src/main/java/com/example/home_rent_app/data/model/DetailHomeData.kt
  android/app/src/main/java/com/example/home_rent_app/di/StreamChatModule.kt
  android/app/src/main/java/com/example/home_rent_app/ui/chatting/RentMessageListActivity.kt
  android/app/src/main/java/com/example/home_rent_app/ui/detail/DetailRentActivity.kt
  android/app/src/main/java/com/example/home_rent_app/ui/detail/DetailThumbnailAdapter.kt
  android/app/src/main/java/com/example/home_rent_app/ui/home/HomeFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/profile/ProfileGiveHomeFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/profile/ProfileViewModel.kt
  android/app/src/main/java/com/example/home_rent_app/ui/transfer/step1/HomeDescriptionFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/transfer/step3/AddressSearchFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/transfer/step4/RentHomeDescriptionFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/viewmodel/DetailHomeViewModel.kt
  android/app/src/main/java/com/example/home_rent_app/ui/viewmodel/FindRoomViewModel.kt
  android/app/src/main/java/com/example/home_rent_app/ui/viewmodel/TransferViewModel.kt
  android/app/src/main/java/com/example/home_rent_app/util/ChatChannel.kt
  android/app/src/main/java/com/example/home_rent_app/util/DateBindingAdapter.kt
  android/app/src/main/java/com/example/home_rent_app/util/HouseType.kt
  android/app/src/main/java/com/example/home_rent_app/util/ImageBindingAdapter.kt
  android/app/src/main/java/com/example/home_rent_app/util/Logger.kt
  android/app/src/main/java/com/example/home_rent_app/util/MoneyFormat.kt
  android/app/src/main/java/com/example/home_rent_app/util/RentType.kt
  android/app/src/main/java/com/example/home_rent_app/util/TextBindingAdapter.kt
  android/app/src/main/res/layout/activity_detail_rent.xml
  android/app/src/main/res/layout/activity_message_list_rent.xml
  android/app/src/main/res/layout/fragment_address_search.xml
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/layout/fragment_home_description.xml
  android/app/src/main/res/layout/item_detail_thumbnail.xml
  android/app/src/main/res/values/strings.xml
Labels: Android

#146 [Android] feat: icon adapter 구현, 채팅 연결 문제 수정
  android/app/src/main/ic_launcher-playstore.png
  android/app/src/main/java/com/example/home_rent_app/data/datasource/login/LoginDataSourceImpl.kt
  android/app/src/main/java/com/example/home_rent_app/ui/chatting/RentMessageListActivity.kt
  android/app/src/main/java/com/example/home_rent_app/ui/detail/DetailRentActivity.kt
  android/app/src/main/java/com/example/home_rent_app/ui/detail/DetailThumbnailAdapter.kt
  android/app/src/main/java/com/example/home_rent_app/ui/detail/IconAdapter.kt
  android/app/src/main/java/com/example/home_rent_app/ui/transfer/step1/HomeDescriptionFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/transfer/step2/PicAdapter.kt
  android/app/src/main/java/com/example/home_rent_app/ui/transfer/step2/PicChoiceFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/transfer/step3/AddressSearchFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/transfer/step4/RentHomeDescriptionFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/viewmodel/DetailHomeViewModel.kt
  android/app/src/main/java/com/example/home_rent_app/ui/viewmodel/TransferViewModel.kt
  android/app/src/main/java/com/example/home_rent_app/ui/viewmodel/WantHomeViewModel.kt
  android/app/src/main/java/com/example/home_rent_app/ui/wanthome/detail/WantHomeDetailActivity.kt
  android/app/src/main/java/com/example/home_rent_app/util/ChatChannel.kt
  android/app/src/main/java/com/example/home_rent_app/util/ImageBindingAdapter.kt
  android/app/src/main/java/com/example/home_rent_app/util/MoneyFormat.kt
  android/app/src/main/java/com/example/home_rent_app/util/Options.kt
  android/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  android/app/src/main/res/drawable/ic_app_name.xml
  android/app/src/main/res/drawable/ic_image_not.xml
  android/app/src/main/res/drawable/ic_launcher_foreground.xml
  android/app/src/main/res/drawable/ic_logo.xml
  android/app/src/main/res/layout/activity_detail_rent.xml
  android/app/src/main/res/layout/activity_message_list_rent.xml
  android/app/src/main/res/layout/fragment_home_description.xml
  android/app/src/main/res/layout/fragment_pic_choice.xml
  android/app/src/main/res/layout/fragment_rent_home_description.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  android/app/src/main/res/values-v31/themes.xml
  android/app/src/main/res/values/ic_launcher_background.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
Labels: Android

#148 [Android] fix: 채팅 로그인시 null로 로그인 되는 문제 수정
  android/app/src/main/java/com/example/home_rent_app/data/datasource/login/LoginDataSourceImpl.kt
  android/app/src/main/java/com/example/home_rent_app/ui/viewmodel/LoginViewModel.kt
Labels: Android

#152 [Android] FEAT: Image load 시 프로그래스바 추가
  android/app/src/main/java/com/example/home_rent_app/ui/findroom/HomeThumbnailAdapter.kt
  android/app/src/main/java/com/example/home_rent_app/util/ImageBindingAdapter.kt
  android/app/src/main/java/com/example/home_rent_app/util/TextBindingAdapter.kt
  android/app/src/main/res/drawable/ic_baseline_account_circle_24.xml
  android/app/src/main/res/layout/activity_detail_rent.xml
Labels: Android

#154 [Android] feat: 삭제된 글 위에 삭제 표시 구현
  android/app/src/main/java/com/example/home_rent_app/ui/profile/ProfileModifyFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/transfer/step2/PicChoiceFragment.kt
  android/app/src/main/java/com/example/home_rent_app/util/Constants.kt
  android/app/src/main/java/com/example/home_rent_app/util/ImageBindingAdapter.kt
  android/app/src/main/res/drawable/ic_done.xml
  android/app/src/main/res/drawable/thumbnail_cover_shape.xml
  android/app/src/main/res/layout/item_home_list.xml
Labels: Android

#155 [Android] Fragment Dialog 생성 및 UI가 실시간으로 보이지 않던 이슈 해결
  android/app/build.gradle
  android/app/src/main/java/com/example/home_rent_app/data/AuthInterceptor.kt
  android/app/src/main/java/com/example/home_rent_app/data/RefreshInterceptor.kt
  android/app/src/main/java/com/example/home_rent_app/data/api/BookmarkApi.kt
  android/app/src/main/java/com/example/home_rent_app/data/datasource/refresh/RefreshDataSourceImpl.kt
  android/app/src/main/java/com/example/home_rent_app/data/dto/DeleteGiveHomeResponseDTO.kt
  android/app/src/main/java/com/example/home_rent_app/data/dto/GiveHomeProfileDTO.kt
  android/app/src/main/java/com/example/home_rent_app/data/repository/bookmark/BookmarkRepository.kt
  android/app/src/main/java/com/example/home_rent_app/data/repository/bookmark/BookmarkRepositoryImpl.kt
  android/app/src/main/java/com/example/home_rent_app/ui/bookmark/BookmarkFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/bookmark/BookmarkGiveHomeAdapter.kt
  android/app/src/main/java/com/example/home_rent_app/ui/bookmark/BookmarkGiveHomeFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/bookmark/BookmarkViewModel.kt
  android/app/src/main/java/com/example/home_rent_app/ui/bookmark/BookmarkWantHomeFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/chatting/WantedMessageListActivity.kt
  android/app/src/main/java/com/example/home_rent_app/ui/detail/DetailRentActivity.kt
  android/app/src/main/java/com/example/home_rent_app/ui/dialogfragment/CancelDialogFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/loginprofile/LoginProfileFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/profile/ProfileFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/profile/ProfileGiveHomeAdapter.kt
  android/app/src/main/java/com/example/home_rent_app/ui/profile/ProfileGiveHomeFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/profile/ProfileModifyFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/profile/ProfileViewModel.kt
  android/app/src/main/java/com/example/home_rent_app/ui/profile/ProfileWantHomeFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/wanthome/step1/WantHomeFirstStepFragment.kt
  android/app/src/main/java/com/example/home_rent_app/ui/wanthome/step2/WantHomeSecondStepFragment.kt
  android/app/src/main/java/com/example/home_rent_app/util/Extention.kt
  android/app/src/main/java/com/example/home_rent_app/util/ImageBindingAdapter.kt
  android/app/src/main/res/drawable/dialog_button_cancel.xml
  android/app/src/main/res/drawable/dialog_button_keep_write.xml
  android/app/src/main/res/drawable/dialog_shape.xml
  android/app/src/main/res/layout/activity_find_room.xml
  android/app/src/main/res/layout/fragment_cancel_dialog.xml
  android/app/src/main/res/layout/fragment_home_description.xml
  android/app/src/main/res/layout/fragment_rent_home_description.xml
  android/app/src/main/res/layout/item_givehome_bookmark.xml
  android/app/src/main/res/layout/item_givehome_profile.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, feature, fix

#157 [Android] fix: 양수글 채팅하기 안되는 문제 수정
  android/app/src/main/java/com/example/home_rent_app/ui/chatting/WantedMessageListActivity.kt
  android/app/src/main/res/layout/activity_message_list_wanted.xml
Labels: Android

#159 [Android] FIX: 채팅 연결시 닉네임, 프로필 사진 등록안되는 문제 수정
  android/app/src/main/java/com/example/home_rent_app/data/api/LoginProfileApi.kt
  android/app/src/main/java/com/example/home_rent_app/data/dto/UserDTO.kt
  android/app/src/main/java/com/example/home_rent_app/data/repository/loginProfile/LoginProfileRepository.kt
  android/app/src/main/java/com/example/home_rent_app/data/repository/loginProfile/LoginProfileRepositoryImpl.kt
  android/app/src/main/java/com/example/home_rent_app/ui/chatting/RentMessageListActivity.kt
  android/app/src/main/java/com/example/home_rent_app/ui/viewmodel/LoginViewModel.kt
Labels: Android

#161 [Android] 양도글 양수글 id가 같으면 채널 개설이 안되는 문제 수정
  android/app/src/main/java/com/example/home_rent_app/util/ChatChannel.kt
Labels: Android

#170 [backend] 양수글, 양도글 인수테스트 작성
  BE/house/src/docs/asciidoc/index.adoc
  BE/house/src/main/java/com/nextsquad/house/dto/bookmark/BookmarkRequestDto.java
  BE/house/src/test/java/com/nextsquad/house/acceptance/rentArticle/RentArticleAcceptanceTest.java
  BE/house/src/test/java/com/nextsquad/house/acceptance/wantedArticle/WantedArticleAcceptanceTest.java
  BE/house/src/test/resources/data.sql
Labels: Backend, Test

#171 유저/로그인 인수테스트 작성
  BE/house/src/docs/asciidoc/index.adoc
  BE/house/src/main/java/com/nextsquad/house/dto/RentArticleListElement.java
  BE/house/src/main/resources/static/docs/index.html
  BE/house/src/test/java/com/nextsquad/house/acceptance/login/LoginAcceptanceTest.java
  BE/house/src/test/java/com/nextsquad/house/acceptance/user/UserAcceptanceTest.java
  BE/house/src/test/java/com/nextsquad/house/config/RestDocsConfiguration.java
  BE/house/src/test/resources/data.sql
Labels: Backend, Test

#172 [backend] wantedArticle, userRepository 단위 테스트 작성
  BE/house/src/main/java/com/nextsquad/house/repository/CustomWantedArticleRepositoryImpl.java
  BE/house/src/main/java/com/nextsquad/house/repository/WantedArticleRepository.java
  BE/house/src/test/java/com/nextsquad/house/acceptance/rentArticle/RentArticleAcceptanceTest.java
  BE/house/src/test/java/com/nextsquad/house/acceptance/user/UserAcceptanceTest.java
  BE/house/src/test/java/com/nextsquad/house/acceptance/wantedArticle/WantedArticleAcceptanceTest.java
  BE/house/src/test/java/com/nextsquad/house/repository/RentArticleRepositoryTest.java
  BE/house/src/test/java/com/nextsquad/house/repository/UserRepositoryTest.java
  BE/house/src/test/java/com/nextsquad/house/repository/WantedArticleBookmarkRepositoryTest.java
  BE/house/src/test/java/com/nextsquad/house/repository/WantedArticleRepositoryTest.java
  BE/house/src/test/resources/data.sql
Labels: Backend, Test

#173 [backend] 테스트 실패 케이스 수정 & RentArticleBookmarkRepository 테스트 작성
  BE/house/src/test/java/com/nextsquad/house/repository/RentArticleBookmarkRepositoryTest.java
  BE/house/src/test/java/com/nextsquad/house/repository/UserRepositoryTest.java
  BE/house/src/test/java/com/nextsquad/house/repository/WantedArticleBookmarkRepositoryTest.java
  BE/house/src/test/java/com/nextsquad/house/repository/WantedArticleRepositoryTest.java
  BE/house/src/test/resources/application.yml
Labels: Backend, fix, Test

#174 [backend] 양도 게시글 관련 repository test 및 JwtProvider 단위테스트 작성
  BE/house/src/main/java/com/nextsquad/house/domain/house/Facility.java
  BE/house/src/main/java/com/nextsquad/house/domain/house/SecurityFacility.java
  BE/house/src/main/java/com/nextsquad/house/login/jwt/JwtProvider.java
  BE/house/src/test/java/com/nextsquad/house/login/jwt/JwtProviderTest.java
  BE/house/src/test/java/com/nextsquad/house/repository/FacilityInHomeRepositoryTest.java
  BE/house/src/test/java/com/nextsquad/house/repository/FacilityRepositoryTest.java
  BE/house/src/test/java/com/nextsquad/house/repository/RentArticleRepositoryTest.java
  BE/house/src/test/java/com/nextsquad/house/repository/SecurityInHomeRepositoryTest.java
  BE/house/src/test/java/com/nextsquad/house/repository/SecurityRepositoryTest.java
  BE/house/src/test/resources/application.yml
  BE/house/src/test/resources/data.sql
Labels: Backend, Test

#178 [backend] 글 목록 조회시 bookmarkCount도 포함하도록 수정
  BE/house/src/main/java/com/nextsquad/house/dto/RentArticleListElement.java
  BE/house/src/main/java/com/nextsquad/house/dto/wantedArticle/WantedArticleElementResponse.java
  BE/house/src/test/java/com/nextsquad/house/acceptance/rentArticle/RentArticleAcceptanceTest.java
  BE/house/src/test/java/com/nextsquad/house/acceptance/wantedArticle/WantedArticleAcceptanceTest.java
Labels: Backend, fix

#179 [backend] 글 삭제/수정시 해당 글쓴이만 가능하도록 로직 수정
  BE/house/src/main/java/com/nextsquad/house/controller/RentArticleController.java
  BE/house/src/main/java/com/nextsquad/house/controller/WantedArticleController.java
  BE/house/src/main/java/com/nextsquad/house/exception/AccessDeniedException.java
  BE/house/src/main/java/com/nextsquad/house/exception/RuntimeExceptionHandler.java
  BE/house/src/main/java/com/nextsquad/house/service/RentArticleService.java
  BE/house/src/main/java/com/nextsquad/house/service/WantedArticleService.java
  BE/house/src/test/java/com/nextsquad/house/acceptance/rentArticle/RentArticleAcceptanceTest.java
  BE/house/src/test/java/com/nextsquad/house/acceptance/wantedArticle/WantedArticleAcceptanceTest.java
Labels: Backend, feature

#183 fix: 스플래시 액티비티 종료안되는 문제
  android/app/src/main/java/com/example/home_rent_app/ui/splashscreen/SplashScreenActivity.kt
  android/app/src/main/res/layout/activity_splash_screen.xml
Labels: Android
